h1{
    font-family: OptimusPrinceps;
    color: white;
    font-size: 5em;
    margin-top: 2em;
}

a, a:hover, a:active, a:link, a:visited {
    text-decoration: none;
}
p{
    color: white;
    font-weight: bolder;
    margin-left: 1em;
    margin-right: 1em;
}