<div class='container'>
    <div class="row">
        <div class="col-12 text-center">
            <a routerLink='/busca'>
                <h1>Project Virtus</h1>
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 text-center">
            <p>Project Virtus é um projeto sem finalidades comerciais cujo objetivo é ser apenas um ponto de divulgação
                de paróquias que necessitam de doações de quaisquer natureza. Busque sua paróquia e obtenha as informações relativas às doações

            </p>
        </div>

    </div>

</div>