<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h3>Detalhes da paroquia</h3>
        </div>
    </div>
    <div class="row info">
        <div class="col-12">
            <h4>{{paroquia.nome}}</h4>
        </div>
    </div>

    <div class="row info">
        <div class="col-12">
            <p id="paroco">{{paroquia.paroco}}</p>
        </div>
    </div>

    <div class="row info">
        <div class="col-12">
            <p>
                {{paroquia.descricao}}
            </p>
        </div>
    </div>
    
</div>