/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;

    background-position: center;
}

@font-face {
    font-family: OptimusPrinceps;
    src: url('assets/font/OptimusPrinceps.ttf');
}